*.bak
*-save.kicad_pcb
*.kicad_prl
*.log
fp-info-cache
__pycache__/
*.tmp
*.swp
*.zip
*.rar
# Build artifacts
Debug/
Release/
*.o
*.elf
*.map
*.lst

# IDE
.settings/
.cproject
.project
*.launch

# System
.DS_Store
Thumbs.db
